@layer reset, base, tokens, recipes, utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }

  .content-hidden {
    content-visibility: hidden;
  }

  .content-visible {
    content-visibility: visible;
  }
}

/*
  custom properties
*/

@layer base {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
    font-weight: bold;
  }

  h4 {
    font-size: 28px;
    font-weight: bold;
  }

  h5 {
    font-size: 24px;
    font-weight: bold;
  }

  h6 {
    font-size: 20px;
    font-weight: bold;
  }
}


